.stack {
  max-width: 952px;
  margin: 0 auto;
}

.stackContainer {
  display: flex;
  gap: 12px;
}

.input {
  min-width: 204px;
  max-width: 204px;
}

.button {
  width: 100%;
}

.caption {
  text-align: start;
  padding-left: 16px;
  padding-right: 16px;
}

.circleContainer {
  width: fit-content;
  margin: 90px auto 0;
  max-width: 945px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}

.circle {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}

.circlePointer {
  position: absolute;
  top: -65px;
  left: 12px;
}

.tailCirclePointer {
  top: 115px;
  left: 15px;
}
