.stringContainer {
  max-width: 522px;
  margin: 0 auto;
}

.inputContainer {
  display: flex;
  gap: 12px;
}

.caption {
  text-align: start;
  padding-left: 16px;
  padding-right: 16px;
}

.circlesContainer {
  width: fit-content;
  margin: 120px auto 0;
  display: flex;
  gap: 16px;
}