.container {
  max-width: 924px;
  margin: 0 auto;
}

.controlsContainer {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
  gap: 52px;
}

.radioInputsContainer {
  display: flex;
  gap: 40px;
}

.buttonsContainer {
  display: flex;
  gap: 12px;
}

.button:last-of-type {
  margin-left: auto;
}

.chartContainer {
  padding-top: 48px;
  gap: 10px;
  align-items: flex-end;
  display: flex;
  width: fit-content;
  margin: 0 auto;
}